body{
    margin: 0;
}
h1{
    font-family: lato, serif;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    font-size: 20px;
}
    #bg-image{
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: white;
    display: grid;
    place-items: center;
    place-content: center;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0),rgba(0, 0, 5, 0.986)),
                url('images/donation12.png') no-repeat center center / cover;
    

}
.button-style{
    text-decoration: none;
    background-image: linear-gradient(#ed5354, #ff6667);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.content-position{
    text-align: center;
}
.section-distance{
    margin-bottom: 150px;
}
.box-making{
    display: flex;
    background-color: rgb(233, 233, 233);
    padding: 20px;
    margin: 20px;
    color: gray;
    font-weight: 900;
    font-size: 20px;
}
.flexibility{
    display: flex;
    margin-left: 25%;
}
#special-border{
    border: solid #ed5354 2px;
    border-radius: 3px;
    color: #ed5354;
}
#first-icon-box{
    background-color: rgb(228, 236, 247);
    padding: 30px;
    margin: 30px;
}
#second-icon-box{
    background-color: rgb(252, 227, 231);
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}
#third-icon-box{
    background-color: rgb(241, 194, 177);
    padding: 30px;
    margin: 30px;
    border-radius: 5px;
}
.icon-box-flex{
    display: flex;
    margin-left: 10%;
    margin-right:10% ;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    padding-right: 10%;
    padding-left: 10%;
}
#display-flexiblity{
    display: flex;
}
.half-width-image{
    width: 500px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.836);
}
#email-box{
    width: 50%;
    background-color: #ffdbdb;
    padding:45px;
    margin-left: 25%;
    margin-right: 25%;
}
#sub-button{
    text-decoration: none;
    background-image: linear-gradient(#ed5354, #ff6667);
    padding: 2px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
}
footer{
    background-color: black;
    color: #ed5354;
    margin: 0;
}